/*.fit-grid{
	max-height: 500px;
  min-height: 400px;
} */

.card-img-top img-fluid {
  width: 25%;
  object-fit: cover; 
} */


.img {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
