.topLeft{
	position: fixed;
  	left: 0;
  	top: 0;
  	max-width: 300px;
  	max-height: 300px;
}
.topRight{
	position: fixed;
  	left: 50%;
  	top: 0%;
  	max-width: 300px;
  	max-height: 300px;
}
.bottomLeft{
	position: relative;
  	left: 0%;
  	top: 50%;
  	max-width: 300px;
  	max-height: 300px;
}
.bottomRight{
	position: relative;
  	left: 50%;
  	top: 50%;
  	max-width: 300px;
  	max-height: 300px;
}

.fixThis{
	max-width: 300px;
	max-height: 300px;
}
