.middle-page {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}

.no-scroll {
    overflow: hidden;
}

.text-transition {
    text-shadow: 1px 1px 2px #000000;
    color: White;
}

.image-container {
    height: 100%;
    width: 100%;
}

.welcome-image {

}

@media screen and (max-width: 575px) {
  .welcome-image {
    height: 100%;
    width: 350%;
    object-fit: cover;
    }
} 

@media screen and (max-width: 767px) and (min-width: 576px) {
  .welcome-image {
    height: 100%;
    width: 200%;
    object-fit: cover;
    }
} 

@media screen and (min-width: 768px) {
  .welcome-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
} 
